
.tela., .telaInt{
	height: 100px;
}

.telaInt{
	padding-top: 12px;
}

.topo, .pages {
	width: 100%;
	max-width:1080px;
	height: 90px;
	//background-color: yellow;
	margin: auto;
}

.topo .logoMedcar {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.menu {
	height: 30px;
	//background-color: red;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	padding-top: 60px;
	margin-right: 20px;
}

.menu ul{
	list-style: none;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	
}

.menu ul a, .menuResponsivo .menuOpcoes ul a{
	text-decoration: none;
	color: #1D77AE;
}

.menu ul li, .menuResponsivo .menuOpcoes ul li {
	background-color: #F5F5F5;
	padding: 5px 12px 5px 12px;
	//float: left;
	//align-items: flex-end;
	font-size: 14px;
	margin-right: 1px;


}

.menu ul li:hover, .menuResponsivo ul li:hover {
	background-color: #00619D;
	color: #fff;
	border-radius: 10px;
	animation-name: backgroundMenu;
	animation-duration: 0.5s;
}

@keyframes backgroundMenu {
	from {background-color: #F5F5F5;}
	to {background-color: #00619D;}
}

.menuResponsivo {
	display: none;
	margin-right: 20px;
	flex-direction: column;
	align-items: flex-end;
	//margin-top: 20px;
}

.menuResponsivo ul {
		list-style: none;
		
	}

.menuResponsivo ul li {
		margin-bottom: 3px;
		width: 250px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

.menuResponsivo .imgMenu{
	width: 36px;
	height: 36px;
	margin-top: 60px;
}

.menuResponsivo .imgMenu:hover{
	cursor: pointer;
}


#btAberto{
	display: none;
}

#opcoes {
	display: none;
}




@media only screen and (min-width: 560px) and (max-width: 850px){

	.menu{
		display: none;
	}

	.menuResponsivo {
		display: flex;
	}

	.menuResponsivo ul li:hover {
		justify-content: flex-start;
	}
	
}

@media only screen and (max-width: 559px) {
	.menu{
		display: none;
	}

	.menuResponsivo {
		display: flex;
		
	}

	.menuResponsivo ul li:hover {
		justify-content: flex-start;
	}
	
}







