
.conteudo {
	width: 100%;
	max-width: 1920px;
	min-height: 100%;
	//background-color: red;
}

.conteudoInt {
	width: 100%;
	max-width: 1366px;
	min-height: 100%;
	margin: auto;
	//background-color: blue;
}

.pages {
	height: 640px;
}

.pagesInt{
	width: 900px;
	max-width: 100%;
	height: 640px;
	margin: auto;
	background-color: blue;
	display: flex;
	flex-direction: column;
}

.pagesInt .data{
	height: 40px;
	background-color: red;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

.pagesInt .bemVindo{
	height: 80px;
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pages .dados {
	height: 340px;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
}

.pagesInt .maisInformacoes{
	height: 80px;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagesInt .rodape{
	height:100px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



