@import url('https://fonts.googleapis.com/css?family=Livvic:600i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Livvic', sans-serif;
}

.telaLogin{
	width: 100%;
	max-width: 1920px;
	min-height: 100%;
}

.telaLoginInt{
	width: 100%;
	max-width: 1366px;
	min-height: 100%;
	margin: auto;
	padding-top: 72px;
	//background-color: red;

}

.login{
	width: 400px;
	height: 550px;
	margin: auto;
	background-color: #EDF0F2;
	border-radius: 20px;

	-webkit-box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
	-moz-box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
	box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
}

.loginTopo{
	width: 330px;
	height: 106px;
	margin: auto;
	padding-top: 16px;
	margin-bottom: 16px;
}

.loginTopo .logoMedcar{
	width: 90px;
	height: 90px;
	float: left;
}

.loginTopo .texto{
	width: 200px;
	height: 65px;
	float: right;
	border-left: solid 2px #1D77AE;
	padding-left: 16px;
	padding-top: 25px;
	text-align: center;
}

.loginTopo .texto h1{
	color: #1D77AE;
	font-size: 18px;
}

.loginForm{
	width: 330px;
	height:330px;
	margin: auto;
	//background-color: black;
	margin-top: 30px;
}

.loginForm{
	color: #1D77AE;
}

.inputDados{
	width: 320px;
	background-color: #EDF0F2;
	border: 0px;
	border-bottom: solid 2px #3c82d7;
	margin-top: 4px;
	margin-bottom: 25px;
	padding: 3px;
}

.inputBotao {
	width: 122px;
	height: 32px;
	border-radius: 30px;
	border: 0px;
	color: #fff;
	background-color: #81b63a;
	margin-top: 10px;
	cursor: hand;
	cursor: pointer;
}

.loginRodape{
	width: 137px;
	height: 48px;
	margin: auto;
}

@media only screen and (min-width: 780px) and (max-width: 1024px){

	.telaLogin{
		width: 100%;
		max-width: 1024px;
		min-height: 100%;
	}

	.telaLoginInt{
		width: 100%;
		max-width: 1024px;
		min-height: 100%;
		margin: auto;s
		padding-top: 72px;
	}

	.login{
		width: 328px;
		height: 550px;
		margin: auto;
		background-color: #EDF0F2;
		border-radius: 20px;
	}

	.loginTopo{
		width: 280px;
		height: 106px;
	}

	.loginTopo .logoMedcar{
		width: 90px;
		height: 90px;
		margin-right: 10px;
	}

	.loginTopo .texto{
		width: 160px;
		height: 65px;	
	}

	.loginForm{
		width: 280px;
		height:330px;
		//margin: auto;
	}

	.inputDados{
		width: 270px;
	}

}

@media only screen and (max-width: 779px) {

	.telaLogin{
		width: 100%;
		max-width: 780px;
		min-height: 100%;
	}

	.telaLoginInt{
		width: 100%;
		max-width: 360px;
		min-height: 100%;
		margin: auto;
		padding-top: 72px;
		//background-color: red;

	}

	.login{
		width: 328px;
		height: 500px;
		margin: auto;
		background-color: #EDF0F2;
		border-radius: 20px;
	}

	.loginTopo{
		width: 280px;
		height: 106px;
	}

	.loginTopo .logoMedcar{
		width: 90px;
		height: 90px;
		margin-right: 10px;
	}

	.loginTopo .texto{
		width: 160px;
		height: 65px;	
	}

	.loginForm{
		width: 280px;
		height:305px;
		margin: auto;
	}

	.inputDados{
		width: 270px;
	}

}