* {
	margin: 0;
	padding: 0;
}

.telaLogin{
	width: 100%;
	max-width: 1920px;
	min-height: 100%;
}

.telaLoginInt{
	width: 100%;
	max-width: 1366px;
	min-height: 100%;
	margin: auto;
	padding-top: 72px;
	//background-color: red;

}

.login{
	width: 446px;
	height: 550px;
	margin: auto;
	background-color: #EDF0F2;
	border-radius: 20px;

	-webkit-box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
	-moz-box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
	box-shadow: 11px 14px 58px -7px rgba(32,120,175,0.56);
}

.loginTopo{
	width: 414px;
	height: 106px;
	margin: auto;
	padding-top: 16px;
	margin-bottom: 16px;
}

.loginTopo .logoMedcar{
	width: 90px;
	height: 90px;
	float: left;
}

.loginTopo .texto{
	width: 292px;
	height: 80px;
	float: right;
	border-left: solid 2px #1D77AE;
	padding-left: 16px;
	padding-top: 10px;
	text-align: center;
	color: #1D77AE;
}

@media only screen and (min-width: 780px) and (max-width: 1024px){

	.telaLogin{
		width: 100%;
		max-width: 1024px;
		min-height: 100%;
	}

	.telaLoginInt{
		width: 100%;
		max-width: 1024px;
		min-height: 100%;
		margin: auto;s
		padding-top: 72px;
		//background-color: red;

	}

	.login{
		width: 328px;
		height: 550px;
		margin: auto;
		background-color: #EDF0F2;
		border-radius: 20px;
	}

}

@media only screen and (max-width: 779px) {

	.telaLogin{
		width: 100%;
		max-width: 780px;
		min-height: 100%;
	}

	.telaLoginInt{
		width: 100%;
		max-width: 360px;
		min-height: 100%;
		margin: auto;
		padding-top: 72px;
		//background-color: red;

	}

	.login{
		width: 328px;
		height: 500px;
		margin: auto;
		background-color: #EDF0F2;
		border-radius: 20px;
	}

}